@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.container{
  max-width:1320px;
}

section{
  overflow: hidden;
}

.section-bg{
  background: #f5f8fd;
}


.section-header h3{
  font-size: 36px;
  color: #413e66;
  text-align: center;
  font-weight: 700;
  position: relative;
  font-family:"Poppins", sans-serif;
}

.section-header p{
  text-align: center;
  margin:auto;
  font-size: 15px;
  padding-bottom:60px;
  color:#535074;
  padding-bottom: 60px;
  color: #535074;
  width: 50%;
}

#services{
  padding: 60px 0 40px 0;
}

#services .box{
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 10px 40px 10px;
  background: white;
   box-shadow: 0 10px 29px 0 rgb(173, 190, 240) ;
   transition: all 0.3s ease-in-out;
   text-align:center;
}

#services.box:hover{
  transform: scale(1,1);
}

#servoces .icons .service-icons{
  font-size: 36px;
  line-height: 1;

}